.recipes-page {
  padding: 2rem;
  background-color: #2c234d;
  color: #fff;
  min-height: 80vh;
  text-align: center;
}

.recipe-grid {
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: stretch;
}