.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2C2842;
    color: #fff;
    padding: 4rem 2rem;
  }

.signup-page > h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}
  
  
  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 400px;
  }
  
  .signup-form input {
    padding: 1rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    outline: none;
  }
  
  .signup-form button {
    background-color: #8661c1;
    color: #fff;
    border: none;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .signup-form button:hover {
    background-color: #a284da;
  }

  .signup-login-redirect {
    margin-top: 1.5rem;
    font-size: 1rem;
    color: #fff;
    text-align: center;
  }
  
  .login-link {
    color: #a284da;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .login-link:hover {
    color: #fff;
  }
  